.simple_form {
  margin: 10px;
  width: 300px;
  background-color: rgba(255,255,255,0.6);
  padding: 20px;
  border-radius: 20px;
}

.header-new {
  position: absolute;
  top: 10%;
  padding: 10px;
  margin: 10px 20px;
}

.header-new h2 {
  font-family: 'Unica One', cursive;
  color: white;
  font-size: 50px;
}

.container-form {
  margin: 70px 10px;
}

.form-control-file {
  border: none;
}
