.container-doses {
  margin: -50px 20px 20px 20px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 30px;
}

.container-doses h2 {
  font-family:'Unica One', cursive;
}

.container-form-show {
  margin: 20px;
  width: 300px;
}

@media(max-width: 675px) {
  .container-doses {
    margin: -50px 10px 20px 10px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  .row {
    padding: 0px;
    margin: 0px;
  }

  .container-doses li {
    list-style: none;
  }

  .header {
    position: absolute;
    top: 42%;
    left: 12%;
  }

  .header h1 {
  font-size: 100px;
  color: white;
  text-align: left;
  }

  .container-form-show {
    width: 100%;
    margin-left: 0px;
  }

  .simple_form {
    width: 100%;
  }

  .show-banner h2 {
    font-size: 50px;
  }

}
