.card-category {
  background-size: contain;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.banner h1 {
  font-size: 100px;
  color: white;
}

img.card-category {
  height: 450px;
  object-fit: cover;
  width: 100%;
  }

.show-banner {
  position: relative;
}

.show-banner h2 {
  color: white;
  font-family: 'Unica One', cursive;
  font-size: 100px;
}

.header {
  position: absolute;
  top: 30%;
  left: 33%;
}
