.navbar-lewagon {
  padding: 0, 20px;
  background: rgba(255, 255, 255, 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  padding: 0px 20px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-icon {
  font-size: 30px;
  padding: 0px 20px;
}
